body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right,rgb(60, 134, 171),rgb(216, 203, 203));
    font-family: inter;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.messageContainer{
    padding: 4vh;
    border-radius: 30px;
    margin-top: 10vh;
background-color:rgba(130, 137, 140,30%) ;
height: 60vh;
width: 40vw;
overflow-y: auto;
}
.left{
    float: left;
    clear: both;
    padding: 1vh;
    margin: 0.5vh;
    border-radius: 0px 10px 10px 10px;
    color: aliceblue;
    background-color: rgb(15, 81, 167);
    max-width: 25vh;
    height: auto;
   word-wrap: break-word;
}
.right{
    border-radius: 10px 0px 10px 10px;
    color: aliceblue;
    background-color: rgb(15, 81, 167);
    float: right;
    padding: 1vh;
    margin: 0.5vh;
    clear: both;
    max-width: 25vh;
    height: auto;
   word-wrap: break-word;
}
#form{
    margin-top: 1vh;
}
#msgInp{
    outline: none;
    background-color: transparent;
    border: 2px solid rgb(97, 97, 143);
    border-radius: 10px;
    padding: 2vh;
    font-size: 2vh;
    width: 60vh;
}
#btn{
    font-size: 2vh;
    padding: 1vh;
    border-radius: 10px;
    background-color: transparent;
    outline: none;
    border: 2px solid rgb(97, 97, 143);
    cursor: pointer;
}
.exit{
    font-size: 1.5vh;
    padding: 0.5vh;
    padding-left: 1vh;
    padding-right: 1vh;
    color: antiquewhite;
    background-color: transparent;
    border: 2px solid rgb(188, 221, 40);
    border-radius: 20px;
    margin-left: 1vh;
    margin-top: 1vh;
    cursor: pointer;
    font-weight: 600;
}

@media screen and (max-width:1200px) {
    #msgInp{
        width: 40vh;
    }
}
@media screen and (max-width:1100px) {
    #msgInp{
        width: 30vh;
    }
}
@media screen and (max-width:900px) {
    #msgInp{
        width: 20vh;
    }
}
@media screen and (max-width:550px) {
    #msgInp{
        width: 20vh;
        font-size: 1.5vh;
        padding: 1.5vh;
    }
    .messageContainer{
        padding: 3vh;
        margin-top: 8vh;
    height: 60vh;
    width: auto;
    }
    #btn{
        font-size: 1.5vh;
        padding: 0.5vh;
    }
}
@media screen and (max-width:350px) {
    #msgInp{
        width: 15vh;
        font-size: 1.3vh;
        padding: 1.5vh;
    }
    .messageContainer{
        padding: 2vh;
        margin-top: 8vh;
    height: 50vh;
    /* margin-left: -5vh; */
    }
    #btn{
        font-size: 2vh;
        padding: 0.5vh;
    }
    .left{
        padding: 1vh;
        margin: 0.2vh;
        max-width: 20vh;
        height: auto;
        font-size: 1.2vh;
       word-wrap: break-word;
    }
    .right{
        padding: 1vh;
        margin: 0.2vh;
        max-width: 20vh;
        height: auto;
        font-size: 1.2vh;
       word-wrap: break-word;
    }
}